<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <title>Linkflows: Editor view</title>
  </head>
  <body>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <h4>Article: "Detecting Linked Data Quality Issues via Crowdsourcing: A DBpedia Study" </h4>
          <p>Authors: Maribel Acosta, Amrapali Zaveri, Elena Simperl, Dimitris Kontokostas, Fabian Flock, Jens Lehmann </p>
          <p>Date submitted: 04/15/2015 - 15:45</p>
        </div>
        <div class="col">
          <br/>
          <h6>Different aspects of review comments:</h6>
          <table class="legend">
            <tr>
              <td>Article level:</td>
              <td>
                <span class="legend" id="spanArticle">article <input type="checkbox" value="" id="checkboxArticle"> </span>
                <span class="legend" id="spanSection">section <input type="checkbox" value="" id="checkboxSection"> </span>
                <span class="legend" id="spanParagraph">paragraph <input type="checkbox" value="" id="checkboxParagraph"> </span>
              </td>
            </tr>
            <tr>
              <td>Aspect:</td>
              <td>
                <span class="legend" id="spanSyntax">syntax <input type="checkbox" value="" id="checkboxSyntax"> </span>
                <span class="legend" id="spanStyle">style <input type="checkbox" value="" id="checkboxStyle"> </span>
                <span class="legend" id="spanContent">content <input type="checkbox" value="" id="checkboxContent"> </span>
              </td>
            </tr>
            <tr>
              <td>Positivity/negativity:</td>
              <td>
                <span style="color:white" class="legend" id="spanNegative">negative <input type="checkbox" value="" id="checkboxNegative"> </span>
                <span class="legend" id="spanNeutral">neutral <input type="checkbox" value="" id="checkboxNeutral"> </span>
                <span style="color:white;" class="legend" id="spanPositive">positive <input type="checkbox" value="" id="checkboxPositive"> </span>
              </td>
            </tr>
            <tr>
              <td>Impact:  </td>
              <td>
                <span class="legendImpact" id="spanI1">1 <input type="checkbox" value="" id="checkboxI1"> </span>
                <span class="legendImpact" id="spanI2">2 <input type="checkbox" value="" id="checkboxI2"> </span>
                <span style="color:white;" class="legendImpact" id="spanI3">3 <input type="checkbox" value="" id="checkboxI3"> </span>
                <span style="color:white;" class="legendImpact" id="spanI4">4 <input type="checkbox" value="" id="checkboxI4"> </span>
                <span style="color:white;" class="legendImpact" id="spanI5">5 <input type="checkbox" value="" id="checkboxI5"> </span>
              </td>
            </tr>
            <tr>
              <td>Action needed:</td>
              <td>
                <span class="legend" id="spanCompulsory">compulsory <input type="checkbox" value="" id="checkboxCompulsory"> </span>
                <span class="legend" id="spanSuggestion">suggestion <input type="checkbox" value="" id="checkboxSuggestion"> </span>
                <span class="legend" id="spanNo_action">no action <input type="checkbox" value="" id="checkboxNo_action"> </span>
              </td>
            </tr>
          </table>
        </div>
        <div id="graphArea"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/js/init.js"></script>

  </body>
</html>
